<strong>Olá, {{ studentName }}</strong>
	<div style="margin-top: 20px">
		<span>Recebemos sua pergunta:</span></br>
		{{ question }}
		</br>
	  	<small style="color: #A9A9A9">Data da pergunta: <strong>{{ createdAt }}</strong></small>
	</div>
	<div style="margin-top: 20px; margin-bottom:  20px">
		<span>Resposta:</span></br>
		<strong>{{ answer }}</strong>
	</div>
